
    <!-- Start Hero Section -->
      <div class="hero">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-5">
              <div class="intro-excerpt">
                <h1 >Welcom To Korsia<span style="color: aquamarine;">.</span> <h4 style="margin-top: 20px;">Discover Unmatched Comfort</h4></h1>
                <p class="mb-4" >Dive into a world of unmatched comfort with our diverse range of chairs. Whether you're looking for a cozy accent chair for your living room or a ergonomic office chair for long work sessions, Korsia has you covered. Each chair is crafted with precision and attention to detail to ensure a luxurious seating experience.
                </p>
                <p><a href="" class="btn btn-secondary me-2" style="border-radius: 20px;;">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="hero-img-wrap">
                <img src="assets/images/couch.png" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- End Hero Section -->
  
    <!-- Start Product Section -->
    <div class="product-section">
      <div class="container">
        <div class="row">
  
          <!-- Start Column 1 -->
          <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
            <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
            <p class="mb-4">Indulge in unparalleled luxury with our chairs, meticulously crafted with the finest materials. Elevate your living or workspace with the Nordic Chair, a blend of elegance and comfort. Immerse yourself in modern sophistication with the Kruzo Aero Chair, designed for both style and durability. Optimize your work environment with our Ergonomic Chair, meticulously engineered for maximum support and lasting quality. Experience the epitome of craftsmanship – choose Korsia for seating that goes beyond ordinary</p>
            <p><a href="shop.html" class="btn">Explore</a></p>
          </div> 
          <!-- End Column 1 -->
  
          <!-- Start Column 2 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
              <img src="assets/images/product-1.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Nordic Chair</h3>
              <strong class="product-price">230.000 DT</strong>
  
              <span class="icon-cross">
                <img src="assets/images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div> 
          <!-- End Column 2 -->
  
          <!-- Start Column 3 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
              <img src="assets/images/product-2.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Kruzo Aero Chair</h3>
              <strong class="product-price">421.000 dt</strong>
  
              <span class="icon-cross">
                <img src="assets/images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div>
          <!-- End Column 3 -->
  
          <!-- Start Column 4 -->
          <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
            <a class="product-item" href="cart.html">
              <img src="assets/images/product-3.png" class="img-fluid product-thumbnail">
              <h3 class="product-title">Ergonomic Chair</h3>
              <strong class="product-price">103.000 DT</strong>
  
              <span class="icon-cross">
                <img src="assets/images/cross.svg" class="img-fluid">
              </span>
            </a>
          </div>
          <!-- End Column 4 -->
  
        </div>
      </div>
    </div>
    <!-- End Product Section -->
  
    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <h2 class="section-title">Why Choose Us</h2>
            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
  
            <div class="row my-5">
              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="assets/images/truck.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3>Fast &amp; Free Shipping</h3>
                  <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                </div>
              </div>
  
              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="assets/images/bag.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3>Easy to Shop</h3>
                  <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                </div>
              </div>
  
              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="assets/images/support.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3>24/7 Support</h3>
                  <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                </div>
              </div>
  
              <div class="col-6 col-md-6">
                <div class="feature">
                  <div class="icon">
                    <img src="assets/images/return.svg" alt="Image" class="imf-fluid">
                  </div>
                  <h3>Hassle Free Returns</h3>
                  <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="col-lg-5">
            <div class="img-wrap">
              <img src="assets/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- End Why Choose Us Section -->
  
    <!-- Start We Help Section -->
    <div class="we-help-section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="imgs-grid">
              <div class="grid grid-1"><img src="assets/images/img-grid-1.jpg" alt="Untree.co"></div>
              <div class="grid grid-2"><img src="assets/images/img-grid-2.jpg" alt="Untree.co"></div>
              <div class="grid grid-3"><img src="assets/images/img-grid-3.jpg" alt="Untree.co"></div>
            </div>
          </div>
          <div class="col-lg-5 ps-lg-5">
            <h2 class="section-title mb-4">We Help You Make Modern Interior Design</h2>
            <p>
              Transform your space with our expertise in modern interior design. From sleek minimalism to cozy chic, we craft interiors that reflect your style and elevate your living experience.</p>
  
            <ul class="list-unstyled custom-list my-4">
              <li>Embrace the simplicity of minimalist design.</li>
              <li>Infuse warmth and comfort with cozy chic elements.</li>
              <li>Achieve timeless elegance with classic modern interior aesthetics.</li>
              <li>Create inviting spaces with a focus on comfort</li>
            </ul>
            <p><a herf="#" class="btn">Explore</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End We Help Section -->
  
    <!-- Start Popular Product -->
    <div class="popular-product">
      <div class="container">
        <div class="row">
  
          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
              <div class="thumbnail">
                <img src="assets/images/product-1.png" alt="Image" class="img-fluid">
              </div>
              <div class="pt-3">
                <h3>Nordic Chair</h3>
                <p>Elevate your surroundings with the Kruzo Aero Chair, a contemporary masterpiece that seamlessly combines sleek aesthetics with unparalleled ergonomic support </p>
                <p style="color:#3b5d50;"><a style="color:#3b5d50;font-weight: 500;" href="#">Read More  &rarr;</a></p>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
              <div class="thumbnail">
                <img src="assets/images/product-2.png" alt="Image" class="img-fluid">
              </div>
              <div class="pt-3">
                <h3>Kruzo Aero Chair</h3>
                <p>Embrace timeless elegance with the Nordic Chair, a harmonious blend of Scandinavian design and exceptional comfort for your modern living spaces.</p>
                <p style="color:#3b5d50;"><a style="color:#3b5d50;font-weight: 500;" href="#">Read More  &rarr;</a></p>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="product-item-sm d-flex">
              <div class="thumbnail">
                <img src="assets/images/product-3.png" alt="Image" class="img-fluid">
              </div>
              <div class="pt-3">
                <h3>Ergonomic Chair</h3>
                <p>Experience peak comfort and productivity with our Ergonomic Chair, meticulously designed to support your posture and enhance your work experience </p>
                <p style="color:#3b5d50;"><a style="color:#3b5d50;font-weight: 500;" href="#">Read More  &rarr;</a></p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- End Popular Product -->
  
    <!-- Start Testimonial Slider -->
    <div class="testimonial-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto text-center">
            <h2 class="section-title">Leadership Insight</h2>
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="testimonial-slider-wrap text-center">
  
              <div id="testimonial-nav">
                <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
              </div>
  
              <div class="testimonial-slider">
                
                <div class="item">
                  <div class="row justify-content-center">
                    <div class="col-lg-8 mx-auto">
  
                      <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                          <p>&ldquo; the President of Korsia, embodies the spirit of timeless elegance, steering the brand towards a fusion of tradition and modern design. Under her leadership, Korsia chairs tell a story of craftsmanship and sophistication.&rdquo;</p>
                        </blockquote>
  
                        <div class="author-info">
                          <div class="author-pic">
                            <img src="/my-crud-app/src/app/components/achref.jpg" width="75px" height="85px;" alt="achref" class="img-fluid-rounded">
                          </div>
                          <h3 class="font-weight-bold">Achref Hcini</h3>
                          <span class="position d-block mb-3">CEO</span>
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div> 
                <!-- END item -->
  
                <div class="item">
                  <div class="row justify-content-center">
                    <div class="col-lg-8 mx-auto">
  
                      <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                          <p>&ldquo; As the dynamic CEO-Partner Iline, she spearheads Korsia with innovation and a keen eye for modern design, shaping the brand's commitment to excellence and sophistication.&rdquo;</p>
                        </blockquote>
  
                        <div class="author-info">
                          <div class="author-pic">
                            <img src="assets/images/person-1.png" alt="Maria Jones" class="img-fluid">
                          </div>
                          <h3 class="font-weight-bold">oumaima Hcini</h3>
                          <span class="position d-block mb-3">CEO-Partner</span>
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div> 
                <!-- END item -->
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Testimonial Slider -->
  
    <!-- Start Blog Section -->
    <div class="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <h2 class="section-title">Recent Blog</h2>
          </div>
          <div class="col-md-6 text-start text-md-end">
            <a href="#" class="more">View All Posts</a>
          </div>
        </div>
  
        <div class="row">
  
          <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            <div class="post-entry">
              <a href="#" class="post-thumbnail"><img src="assets/images/post-1.jpg" alt="Image" class="img-fluid"></a>
              <div class="post-content-entry">
                <h3><a href="#">First Time Home Owner Ideas</a></h3>
                <div class="meta">
                  <span>by <a href="#">omri omar  </a></span> <span>on <a href="#">Dec 19, 2023</a></span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            <div class="post-entry">
              <a href="#" class="post-thumbnail"><img src="assets/images/post-2.jpg" alt="Image" class="img-fluid"></a>
              <div class="post-content-entry">
                <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                <div class="meta">
                  <span>by <a href="#">fadhel chouchen   </a></span> <span>on <a href="#">Dec 15, 2023</a></span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
            <div class="post-entry">
              <a href="#" class="post-thumbnail"><img src="assets/images/post-3.jpg" alt="Image" class="img-fluid"></a>
              <div class="post-content-entry">
                <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                <div class="meta">
                  <span>by <a href="#">ali nafti  </a></span> <span>on <a href="#">Dec 12, 2023</a></span>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- End Blog Section -->	


  
   
